<div style="margin: 16px 16px 0 16px" ngStyle.lt-sm="margin:0px;">
  <div fxLayout="row" ngclass="header-heigh" style="background-color: #f8f9fa;position:relative;overflow: hidden;" >
    <div class="header-heigh" fxFlex="33.3"fxHide.lt-md style="position: relative;z-index: 2;">
      <div class="header-content" style="position:absolute;background-color: #eaeaea;width: 300px;border-radius: 20px;transform: rotate(30deg);top: -25%;left: 15%"></div>
    </div>
    <div class="header-heigh" fxFlex="auto" fxLayout="column" fxLayoutAlign="center center" ngStyle.lt-sm="height:250px;">
      <h1>Punny headline</h1>
      <p fxLayoutAlign="center" style="text-align: center">And an even wittier subheading to boot. Jumpstart your marketing efforts with this example based on Apple’s marketing pages.
      </p>
    </div>
    <div class="header-heigh" fxFlex="33.3" fxHide.lt-md  style="position: relative;z-index: 2;">
      <div class="header-content" style="position:absolute;background-color: #333333;width: 300px;border-radius: 20px;transform: rotate(30deg);bottom: -30%;right: 30%;"></div>
    </div>
  </div>
</div>
<div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" style="padding:0 8px" ngStyle.lt-sm="padding:0px">
  <div fxFlex="auto" fxLayout="column" class="example-card" style="background-color: #343a40;margin:8px;height: 480px" ngStyle.lt-sm="margin:0px;height: 400px">
    <div fxFlex="30" fxLayout="column" fxLayoutAlign="center center">
      <!--      <div mat-card-avatar class="example-header-image"></div>-->
      <h2  style="color: #fff">专题报道</h2>
      <br>
      <p style="color: #fff">Project information</p>
    </div>
    <div fxFlex="70" fxLayoutAlign="center" style="background-color: #fff;margin:0 15%;border-radius: 20px 20px 0 0"></div>
  </div>
  <div fxFlex="auto" fxLayout="column" class="example-card" style="margin:8px;background-color: #fff;height: 480px" ngStyle.lt-sm="margin:0px;height: 400px">
    <div fxFlex="30" fxLayout="column" fxLayoutAlign="center center">
      <div mat-card-avatar class="example-header-image"></div>
      <h2  style="color: #000">行业资讯</h2>
      <br>
      <p style="color: #000">Industry information</p>
    </div>
    <div fxFlex="70" fxLayoutAlign="center" style="background-color: #343a40;margin:0 15%;border-radius: 20px 20px 0 0"></div>
  </div>
</div>
<div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" style="padding: 0 8px" ngStyle.lt-sm="padding:0px">
  <div fxFlex="auto" fxLayout="column" class="example-card" style="margin:8px;background-color: #ffffff;height: 480px" ngStyle.lt-sm="margin:0px;height: 400px">
    <div fxFlex="30" fxLayout="column" fxLayoutAlign="center center">
      <div mat-card-avatar class="example-header-image"></div>
      <h2  style="color: #000">产品评测</h2>
      <br>
      <p style="color: #000">Product review</p>
    </div>
    <div fxFlex="70" fxLayoutAlign="center" style="background-color: #343a40;margin:0 15%;border-radius: 20px 20px 0 0"></div>
  </div>
  <div fxFlex="auto" fxLayout="column"  style="margin:8px;background-color: #343a40;height: 480px" ngStyle.lt-sm="margin:0px;height: 400px">
    <div fxFlex="30" fxLayout="column" fxLayoutAlign="center center">
      <div mat-card-avatar class="example-header-image"></div>
      <h2  style="color: #ffffff">众测申请</h2>
      <br>
      <p style="color: #ffffff">Test application</p>
    </div>
    <div fxFlex="70" fxLayoutAlign="center" style="background-color: #ffffff;margin:0 15%;border-radius: 20px 20px 0 0"></div>
  </div>
</div>
<div fxLayout="row" fxLayoutAlign="center center" class="footer" ngStyle.lt-sm="height: 400px">
  <div fxFlex="70" fxFlex.lt-sm="100" fxLayout="row" fxLayout.lt-sm="row wrap">
    <div fxFlex="auto" fxFlex.lt-sm="100" style="height:168px;">
      ###
    </div>
    <div fxFlex="auto" fxFlex.lt-sm="50%" style="height:168px;">
      <ul>
        <li>Cool stuff</li>
        <li>Random feature</li>
        <li>Random feature</li>
        <li>Random feature</li>
        <li>Random feature</li>
      </ul>
    </div>
    <div fxFlex="auto" fxFlex.lt-sm="50%" style="height:168px;">
      <ul>
        <li>Cool stuff</li>
        <li>Random feature</li>
        <li>Random feature</li>
        <li>Random feature</li>
        <li>Random feature</li>
      </ul>
    </div>
    <div fxFlex="auto" fxFlex.lt-sm="50%" style="height:168px;">
      <ul>
        <li>Cool stuff</li>
        <li>Random feature</li>
        <li>Random feature</li>
        <li>Random feature</li>
        <li>Random feature</li>
      </ul>
    </div>
    <div fxFlex="auto" fxFlex.lt-sm="50%" style="height:168px;">
      <ul>
        <li>Cool stuff</li>
        <li>Random feature</li>
        <li>Random feature</li>
        <li>Random feature</li>
        <li>Random feature</li>
      </ul>
    </div>
  </div>
</div>

<style>
  /*MATERIAL DESIGN*/
  .header-heigh {
    height: 446px;
  }
  .header-content {
    height: 540px;
  }
  .header-heigh p {
    font-size: large;
  }
  h1 {
    text-align: center;
  }
  ul li{
    list-style-type: none;
    margin-left: 0;
  }
  .footer {
    height: 300px;
  }
  .footer-phone {
    height: 400px;
  }
</style>

<!--<ngb-carousel *ngIf="images" [showNavigationIndicators]=true>-->
<!--  <ng-template ngbSlide *ngFor="let image of images">-->
<!--    <div class="picsum-img-wrapper">-->
<!--      <img [src]="image" alt="Random slide" style="margin: 0 auto">-->
<!--    </div>-->
<!--    <div class="carousel-caption">-->
<!--      <h3>No mouse navigation</h3>-->
<!--      <p>This carousel hides navigation arrows and indicators.</p>-->
<!--    </div>-->
<!--  </ng-template>-->
<!--</ngb-carousel>-->

<!--<div class="alert alert-dark" role="alert">-->
<!--  专题报道-->
<!--</div>-->
<!--<div class="row row-cols-1 row-cols-md-3">-->
<!--  <div class="col mb-4" *ngFor="let card of SpecialCards">-->
<!--    <div class="card">-->
<!--      <img [src]=card.src class="card-img-top" alt="...">-->
<!--      <div class="card-body">-->
<!--        <h5 class="card-title">Card title</h5>-->
<!--        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
<!--<div class="alert alert-dark" role="alert">-->
<!--  行业资讯-->
<!--</div>-->
<!--<div class="row row-cols-1 row-cols-md-3">-->
<!--  <div class="col mb-4" *ngFor="let card of MessageCards">-->
<!--    <div class="card">-->
<!--      <img [src]=card.src class="card-img-top" alt="...">-->
<!--      <div class="card-body">-->
<!--        <h5 class="card-title">Card title</h5>-->
<!--        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
<!--<div class="alert alert-dark" role="alert">-->
<!--  产品评测-->
<!--</div>-->

<!--<div class="row row-cols-1 row-cols-md-3">-->
<!--  <div class="col mb-4" *ngFor="let card of ReportCards">-->
<!--    <div class="card">-->
<!--      <img [src]=card.src class="card-img-top" alt="...">-->
<!--      <div class="card-body">-->
<!--        <h5 class="card-title">Card title</h5>-->
<!--        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
